.index-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: calc(30 * var(--fontSize));
  height: auto;
  max-width: 60%;
  max-height: 80vh;
  display: none;
  z-index: -1;
  pointer-events: none;
  &.is-active {
    display: block;
  }
}
