.has-text-align-left {
  text-align: left;
}
.has-text-align-center {
  text-align: center;
}
.has-text-align-right {
  text-align: right;
}
.has-small-font-size {
  font-size: 0.8125rem; //13px
  --fontSizeSmall: 0.8125rem;
  font-size: var(--fontSizeSmall);
}
.has-large-font-size {
  font-size: 1.5rem; //24px
  --fontSizeLarge: 1.5rem;
  font-size: var(--fontSizeLarge);
}
@media screen and (min-width: 50rem) {
  //800px
  .has-small-font-size {
    font-size: 0.875rem; //14px
    --fontSizeSmall: 0.875rem;
  }
  .has-large-font-size {
    font-size: 1.75rem; //28px
    --fontSizeLarge: 1.75rem;
  }
}
@media screen and (min-width: 87.5rem) {
  //1400px
  .has-small-font-size {
    font-size: 0.9375rem; //15px
    --fontSizeSmall: 0.9375rem;
  }
  .has-large-font-size {
    font-size: 1.875rem; //30px
    --fontSizeLarge: 1.875rem;
  }
}
.has-text-color {
  color: var(--colorText);
  &.has-black-color {
    --colorText: #000;
    --colorLink: #000;
    --colorButtonText: #000;
  }
  &.has-grey-color {
    --colorText: #787878;
    --colorLink: #787878;
    --colorButtonText: #787878;
  }
  &.has-white-color {
    --colorText: #fff;
    --colorLink: #fff;
    --colorButtonText: #fff;
  }
  &.has-blue-color {
    --colorText: #3c4b55;
    --colorLink: #3c4b55;
    --colorButtonText: #3c4b55;
  }
  &.has-green-color {
    --colorText: #0b9500;
    --colorLink: #0b9500;
    --colorButtonText: #0b9500;
  }
  &.has-light-blue-color {
    --colorText: #95cae7;
    --colorLink: #95cae7;
    --colorButtonText: #95cae7;
  }
}
.has-text-color button,
.has-text-color a,
button.has-text-color,
a.has-text-color {
  &:hover,
  &:focus {
    color: var(--colorLinkHover);
  }
}
p.has-background {
  padding-bottom: calc(1.5 * var(--padding));
}
.has-background {
  &.has-black-background-color {
    background-color: #000;
  }
  &.has-grey-background-color {
    background-color: #787878;
  }
  &.has-white-background-color {
    background-color: #fff;
  }
  &.has-blue-background-color {
    background-color: #3c4b55;
  }
  &.has-green-background-color {
    background-color: #0b9500;
  }
  &.has-light-blue-background-color {
    background-color: #95cae7;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  &.has-background {
    padding: 0.35em 0.35em 0.25em;
    line-height: 1;
    display: inline-block;
  }
}
