.site-header {
  top: var(--siteTop, 0px);
  z-index: 99;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  font-size: var(--fontSize);
  line-height: 1.4;
  position: sticky;
  //padding: calc(0.5 * var(--fontSize));
  padding: 0 calc(0.5 * var(--fontSize)) calc(0.5 * var(--fontSize));
  padding-right: calc(2 * var(--fontSize));
  width: 100%;
  background: var(--siteBackground);
  transition: background-color 0.5s ease;
  @media screen and (min-width: 25rem) {
    position: fixed;
    //padding: calc(0.5 * var(--fontSize)) 0;
    padding: 0 0 calc(0.5 * var(--fontSize)) 0;
    width: auto;
    left: 25%;
    right: calc(3 * var(--fontSize));
  }
}
.main-navigation {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  //min-width: 33.333%;
  width: 100%;
  font-size: var(--fontSizeLarge);
  @media screen and (min-width: 60rem) {
    font-size: var(--fontSize);
  }
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: calc(0.5 * var(--fontSize));
    width: 100%;
    flex: 0 0 auto;
    flex-flow: row wrap;
    //padding-top: calc(0.5 * var(--fontSize));
    //padding-left: calc(1.375 * var(--fontSize) + 0.375rem);
    @media screen and (min-width: 60rem) {
      width: auto;
      padding-left: 0;
    }
  }
  li {
    position: relative;
    padding: 0 calc(0.75 * var(--fontSize)) 0 0;
    flex: 0 0 auto;
    width: 100%;
    @media screen and (min-width: 60rem) {
      width: auto;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    text-decoration: underline;
  }
}

/* Small menu. */
.menu-toggle {
  display: flex;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.085em;
  margin: 0 calc(1.5 * var(--fontSize)) 0 0;
  //padding: calc(0.5 * var(--fontSize)) 0 0;
  padding: 0;
  padding-top: calc(0.5 * var(--fontSize));
  border: 0;
  align-items: center;
  text-decoration: none;
  width: calc(100% - (1.5 * var(--fontSize)));
  flex: 0 0 auto;
  text-align: left;
  //font-size: var(--fontSize);
  font-size: var(--fontSizeLarge);
  @media screen and (min-width: 25rem) {
    font-size: var(--fontSize);
  }
  @media screen and (min-width: 60rem) {
    width: auto;
  }
  .icon {
    margin-right: calc(0.375 * var(--fontSize));
  }
  .icon-menu {
    display: flex;
  }
  .icon-close {
    display: none;
  }
}
.main-navigation.toggled {
  .menu-toggle {
    .icon-menu {
      display: none;
    }
    .icon-close {
      display: flex;
    }
  }
  ul {
    display: flex;
  }
}
/* Home text */
.site-header-home-text {
  display: none;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--homeColorText);
  letter-spacing: 0.02em;
  font-size: var(--fontSize);
  padding-top: calc(0.5 * var(--fontSize));
  p {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  button {
    font-size: 1em;
    line-height: 1.4;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--homeColorText);
    cursor: help;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.site-header-more-text {
  --colorText: var(--white);
  --colorLink: var(--white);
  --colorLinkHover: var(--magenta);
  color: var(--colorText);
  background: var(--green);
  padding: calc(3 * var(--fontSize)) var(--fontSize);
  display: none;
  position: fixed;
  top: var(--siteTop, 0px);
  bottom: 0;
  left: 0;
  right: 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  div {
    width: calc(40 * var(--fontSize));
    max-width: 100%;
  }
}
.site-header-more-text-close {
  position: fixed;
  line-height: 1.4;
  top: var(--fontSize);
  right: var(--fontSize);
}
.home {
  .main-navigation {
    width: auto;
    &.toggled {
      width: 100%;
    }
  }
  .site-header-home-text {
    display: flex;
    @media screen and (min-width: 25rem) {
      flex: 0 0 calc(100% - (16 * var(--fontSize)));
    }
  }
  .toggled + .site-header-home-text {
    display: none;
  }
  &.more-text-is-active {
    .site-header-more-text {
      display: flex;
    }
  }
}

@media screen and (max-width: 25rem) {
  .nav-is-active {
    position: fixed;
    top: var(--siteTop, 0px);
    .site-header {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      overflow: auto;
    }
  }
}
