.sticky {
  display: block;
}

.post,
.page {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}
.page-header,
.entry-header {
  padding-top: 1.5rem;
  //padding-left: calc(1.375 * var(--fontSize) + 0.375rem);
  padding-left: calc(1.375 * var(--fontSize));
  padding-bottom: 3rem;
}
.page-title,
.entry-title {
  text-transform: uppercase;
  font-size: var(--fontSizeLarge);
  letter-spacing: 0.085em;
  max-width: calc(30 * var(--fontSize));
  span {
    text-transform: none;
    letter-spacing: 0;
  }
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.page-links {
  clear: both;
  margin: 0;
}

.wp-block-image {
  img {
    display: block;
  }
  figcaption {
    font-size: var(--fontSizeSmall);
  }
}
