.site-reading-room-filters {
  --fontSizeFilters: var(--fontSizeLarge);
  position: fixed;
  width: var(--fontSizeFilters);
  height: 100%;
  z-index: 15;
  right: 1rem;
  top: 0;

  @media screen and (max-width: 25rem) {
    //display: none;
    z-index: 100;
    right: 0.5em;
  }

  @media screen and (max-height: 25rem) {
    --fontSizeFilters: var(--fontSizeSmall);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100vh;
    width: calc(var(--vh, 1vh) * 100);
    height: var(--fontSizeFilters);
    //overflow: hidden;
    transform: rotate(90deg)
      translate3d(calc(-1 * var(--fontSizeFilters)), 0, 0);
    transform-origin: 0% 100%;
    li {
      padding: 0 1rem;
    }
    a {
      display: block;
      white-space: nowrap;
      text-transform: uppercase;
      text-decoration: none;
      font-size: var(--fontSizeFilters);
      line-height: 1;
      letter-spacing: 0.085em;
      transition: color 0.3s ease;
    }
    li.is-active {
      --colorLink: var(--colorLinkHover);
      a {
        opacity: 1;
      }
    }
  }
}
@media screen and (max-width: 25rem) {
  .nav-is-active {
    .site-reading-room-filters {
      display: block;
      z-index: 100;
      right: 0.5em;
    }
  }

  .single,
  .page {
    .site-reading-room-filters {
      display: none;
    }
    &.home,
    &.nav-is-active {
      .site-reading-room-filters {
        display: block;
      }
    }
  }
}
.more-text-is-active {
  .site-reading-room-filters {
    display: none;
  }
  &.home {
    .site-reading-room-filters {
      display: none;
    }
  }
  &.nav-is-active {
    .site-reading-room-filters {
      display: block;
    }
  }
}
