.site-reading-room-index {
  width: 25%;
  padding: calc(0.5 * var(--fontSize)) calc(1 * var(--fontSize))
    calc(0.5 * var(--fontSize)) calc(0.5 * var(--fontSize));
  position: sticky;
  z-index: 1;
  top: var(--siteTop, 0px);
  @media screen and (max-width: 25rem) {
    position: relative;
    width: 100%;
    padding: calc(0.5 * var(--fontSize)) calc(2.5 * var(--fontSize))
      calc(0.5 * var(--fontSize)) calc(0.5 * var(--fontSize));
    order: 1;
  }
  ul {
    font-size: var(--fontSizeIndex);
    line-height: 1.4;
    width: calc(16 * var(--fontSizeIndex));
    max-width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      opacity: 1;
      transition: opacity 0.3s ease;
      display: block;
      /*padding: 0.4em;
      border-radius: 0.02em;
      background: transparent;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      */
    }
  }
  li {
    padding-bottom: calc(0.875 * var(--fontSize));
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
.page,
.single-post,
.archive.tax-reading_cat {
  .site-reading-room-index {
    ul {
      a {
        opacity: 0.3;
        &:hover,
        &:focus {
          opacity: 1;
        }
      }
      li.is-active {
        a {
          opacity: 1;
        }
      }
      li.is-visited {
        --colorLink: #7b007f;
        --colorLinkHover: #f800ff;
      }
      li.is-current {
        --colorLink: var(--colorLinkHover);
        --colorLinkHover: var(--magenta);
      }
    }
  }
}
.page-template-front {
  .site-reading-room-index {
    ul {
      a {
        opacity: 1;
      }
    }
  }
}
