.scroll-to-top-observer {
  position: absolute;
  top: calc(var(--siteTop) + 52vh);
  height: 1px;
  width: 1px;
}
.scroll-to-top-button {
  background-color: var(--colorTextSecondary);
  border: none;
  border-radius: 50%;
  color: var(--siteBackground);
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: calc(1.125 * var(--fontSize));
  line-height: 1;
  width: calc(2 * var(--fontSize));
  height: calc(2 * var(--fontSize));
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  left: calc(1 * var(--fontSize));
  z-index: 99;
  opacity: 0;
  transform: translateY(calc(3 * 1rem));
  transition: opacity 0.3s ease, transform 0.3s ease;
  @media screen and (min-width: 25rem) {
    left: auto;
    right: calc(3 * var(--fontSize));
  }
  svg {
    width: 1em;
    height: 0.5em;
    fill: var(--white);
    transform: translate3d(0, -0.1em, 0);
  }
}

.scroll-to-top-button--is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 25rem) {
  .more-text-is-active,
  .nav-is-active {
    .scroll-to-top-button {
      display: none;
    }
  }
}
