.preload * {
  transition: none !important;
}
.site {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.site-container {
  width: 75%;
  padding: 5rem 5rem 5rem 0;
  position: sticky;
  top: var(--siteTop, 0px);
  max-width: calc(40 * var(--fontSize));
  @media screen and (max-width: 25rem) {
    position: relative;
    width: 100%;
    padding: 0.5rem;
  }
}
