body {
  --objectWidth: 10rem;
  --voidWidth: calc(75vw - (3 * var(--fontSize)));
  --voidHeight: calc(100vh - (5 * var(--fontSize)));
  @media screen and (min-width: 40rem) {
    --objectWidth: 20rem;
  }
}
.three-item-wrapper {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: calc(2.5 * var(--fontSize));
  width: var(--objectWidth);
  height: var(--objectWidth);
  @media screen and (min-width: 40rem) {
    //position: relative;
    position: absolute;
    bottom: auto;
    right: auto;
    animation: x 60s linear infinite alternate;
    &:hover,
    &:focus {
      animation-play-state: paused;
    }
  }
}
#three-item {
  width: var(--objectWidth);
  height: var(--objectWidth);
  opacity: 0;
  transition: opacity 200ms ease;
  &.is-init {
    opacity: 1;
  }
}
@keyframes x {
  100% {
    transform: translateX(calc(var(--voidWidth) - var(--objectWidth)))
      translateY(calc(var(--voidHeight) - var(--objectWidth)));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(100vh - var(--objectWidth)));
  }
}
