/*!
Theme Name: Breath Mark
Theme URI: http://underscores.me/
Author: An Endless Supply
Author URI: https://endless.supply
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: breath-mark
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Breath Mark is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/@font-face{font-family:"BrutGrot";src:url("assets/fonts/BrutGrotesqueTEST-Regular.woff2") format("woff2");font-weight:500;font-style:normal}@font-face{font-family:"BrutGrot";src:url("assets/fonts/BrutGrotesqueTEST-Book.woff2") format("woff2");font-weight:400;font-style:normal}@font-face{font-family:"BrutGrot";src:url("assets/fonts/BrutGrotesqueTEST-Light.woff2") format("woff2");font-weight:300;font-style:normal}/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}*,*::before,*::after{box-sizing:inherit}html{box-sizing:border-box}body,button,input,select,optgroup,textarea{color:var(--colorText);font-family:var(--fontSans);font-size:var(--fontSize);line-height:var(--lineHeight);font-variation-settings:"wght" 400}h1,h2,h3,h4,h5,h6{clear:both;font-weight:400;font-family:var(--fontHeading);font-size:var(--fontSize);padding:2rem 0 1rem;margin:0;line-height:var(--lineHeightHeading)}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",courier,monospace;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:var(--fontSizeH2)}small,.text-small{font-size:var(--fontSizeSmall)}:root{scroll-padding-top:var(--headerHeight, 38px)}body{--white: #fff;--black: #140106;--lightBlack: #282828;--grey: #e4e4e4;--lightGrey: #f5f5f5;--midGrey: #ababab;--darkGrey: #505050;--blue: #3c4b55;--green: #435a34;--teal: #0c3845;--magenta: #f800ff;--colorText: var(--teal);--colorTextSecondary: var(--darkGrey);--colorLink: var(--teal);--colorLinkHover: var(--magenta);--colorButtonText: var(--white);--colorButtonTextHover: var(--lightGrey);--colorButtonBackground: var(--blue);--colorButtonBackgroundHover: var(--lightBlack);--siteBackground: var(--white);--homeColorText: var(--green);--colorTextInput: var(--darkGrey);--colorBorderInput: var(--midGrey);--colorTextInputFocus: var(--lightBlack);--siteTop: 0px;--headerHeight: 0;--fontSize: 1rem;--fontSizeH1: calc(3.815 * var(--fontSize));--fontSizeH2: calc(2.441 * var(--fontSize));--fontSizeH3: calc(1.953 * var(--fontSize));--fontSizeH4: calc(1.563 * var(--fontSize));--fontSizeH5: calc(1.25 * var(--fontSize));--fontSizeIndex: calc(1 * var(--fontSize));--fontSizeSmall: calc(0.8 * var(--fontSize));--fontSizeLarge: calc(1.375 * var(--fontSize));--lineHeight: 1.75;--lineHeightHeading: 1.3;--padding: 1rem;--fontSans: "BrutGrot", "Helvetica", "Helvetica Neue", "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;--fontHeading: "BrutGrot", "Helvetica", "Helvetica Neue", "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;--fontMono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace}@media screen and (min-width: 1400px){body{--fontSize: 1.375rem;--fontSizeIndex: calc(0.8 * var(--fontSize));--lineHeight: 1.375}}body.admin-bar{--siteTop: 0px}@media screen and (min-width: 600px){body.admin-bar{--siteTop: 46px}}@media screen and (min-width: 783px){body.admin-bar{--siteTop: 32px}}html{font-size:var(--fontSize)}body{width:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:var(--siteBackground);transition:background-color .5s ease}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}embed,iframe,object{max-width:100%}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}a{color:var(--colorLink)}a:hover,a:focus,a:active{color:var(--colorLinkHover)}a:focus{outline:thin dotted}a:hover,a:active,a:focus:not(:focus-visible){outline:0}:focus:not(:focus-visible){outline:none}button,input[type=button],input[type=reset],input[type=submit],.button{border:1px solid;border-color:var(--colorButtonBackground);border-radius:2px;background:var(--colorButtonBackground);color:var(--colorButtonText);font-size:var(--fontSize);line-height:1;padding:calc(0.5 * var(--padding)) var(--padding);cursor:pointer}button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover,.button:hover{border-color:var(--colorButtonBackgroundHover);background:var(--colorButtonBackgroundHover);color:var(--colorButtonTextHover)}button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus,.button:active,.button:focus{border-color:var(--colorButtonBackgroundHover);background:var(--colorButtonBackgroundHover);color:var(--colorButtonTextHover)}button:focus:not(:focus-visible),input[type=button]:focus:not(:focus-visible),input[type=reset]:focus:not(:focus-visible),input[type=submit]:focus:not(:focus-visible),.button:focus:not(:focus-visible){outline:0}.text-button{border:0;border-radius:0;background:transparent;color:var(--colorLink);font-size:var(--fontSize);line-height:var(--lineHeight);padding:0;text-decoration:underline}.text-button:hover{border-color:currentColor;background:transparent;color:var(--colorLinkHover)}.text-button:active,.text-button:focus{border-color:currentColor;background:transparent;color:var(--colorLinkHover)}input[type=text],input[type=email],input[type=url],input[type=password],input[type=search],input[type=number],input[type=tel],input[type=range],input[type=date],input[type=month],input[type=week],input[type=time],input[type=datetime],input[type=datetime-local],input[type=color],textarea{color:var(--colorTextInput);border:1px solid var(--colorBorderInput);border-radius:3px;padding:calc(0.2 * var(--fontSize))}input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=search]:focus,input[type=number]:focus,input[type=tel]:focus,input[type=range]:focus,input[type=date]:focus,input[type=month]:focus,input[type=week]:focus,input[type=time]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=color]:focus,textarea:focus{color:var(--colorTextInputFocus)}select{border:1px solid rgba(0,0,0,.5);border-radius:2px;width:100%}select[multiple=false]{font-size:calc(0.75 * var(--fontSize));line-height:var(--lineHeight);height:calc( var(--lineHeight) * (0.75 * var(--fontSize)) + (1.5 * var(--padding)) );padding:calc(0.75 * var(--padding)) calc(0.75 * var(--padding)) calc(0.75 * var(--padding)) calc(1.5 * var(--padding));background-repeat:no-repeat;background-position:calc(100% - var(--padding)) center;background-size:1em auto;background-image:url("assets/images/dropdown-arrow.svg");background-color:transparent;padding-right:calc(3 * var(--padding));-webkit-appearance:none;-moz-appearance:none;appearance:none;margin-top:0;cursor:pointer}fieldset{border:1px solid var(--darkGrey)}textarea{width:100%}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:var(--siteBackground);border-radius:3px;border:1px solid var(--colorLinkHover);clip:auto !important;-webkit-clip-path:none;clip-path:none;color:var(--colorLinkHover);display:block;font-size:var(--fontSize);font-weight:400;height:auto;left:.25rem;line-height:normal;padding:1rem 1.3rem;text-decoration:none;top:calc(var(--siteTop) + 0.25rem);width:auto;text-transform:uppercase;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}.comment-navigation,.posts-navigation,.post-navigation{--colorLink: var(--colorTextSecondary)}.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;width:100%;padding-top:calc(6 * var(--fontSize));padding-bottom:calc(2 * var(--fontSize))}@media screen and (max-width: 25rem){.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{border-bottom:1px solid var(--colorTextSecondary);margin-bottom:calc(3 * var(--fontSize))}}.comment-navigation .nav-previous,.comment-navigation .nav-next,.posts-navigation .nav-previous,.posts-navigation .nav-next,.post-navigation .nav-previous,.post-navigation .nav-next{-webkit-flex:0 0 100%;flex:0 0 100%;text-transform:uppercase;letter-spacing:.05em}.comment-navigation .nav-previous a,.comment-navigation .nav-next a,.posts-navigation .nav-previous a,.posts-navigation .nav-next a,.post-navigation .nav-previous a,.post-navigation .nav-next a{text-decoration:none;display:inline-block;margin:0 0 calc(1 * var(--fontSize))}.comment-navigation .nav-previous a .nav-title span,.comment-navigation .nav-next a .nav-title span,.posts-navigation .nav-previous a .nav-title span,.posts-navigation .nav-next a .nav-title span,.post-navigation .nav-previous a .nav-title span,.post-navigation .nav-next a .nav-title span{text-transform:none;letter-spacing:0}.comment-navigation .nav-previous a:hover,.comment-navigation .nav-previous a:focus,.comment-navigation .nav-next a:hover,.comment-navigation .nav-next a:focus,.posts-navigation .nav-previous a:hover,.posts-navigation .nav-previous a:focus,.posts-navigation .nav-next a:hover,.posts-navigation .nav-next a:focus,.post-navigation .nav-previous a:hover,.post-navigation .nav-previous a:focus,.post-navigation .nav-next a:hover,.post-navigation .nav-next a:focus{text-decoration:underline}.comment-navigation .nav-subtitle,.posts-navigation .nav-subtitle,.post-navigation .nav-subtitle{display:none}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*=wp-image-]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2, 1fr)}.gallery-columns-3{grid-template-columns:repeat(3, 1fr)}.gallery-columns-4{grid-template-columns:repeat(4, 1fr)}.gallery-columns-5{grid-template-columns:repeat(5, 1fr)}.gallery-columns-6{grid-template-columns:repeat(6, 1fr)}.gallery-columns-7{grid-template-columns:repeat(7, 1fr)}.gallery-columns-8{grid-template-columns:repeat(8, 1fr)}.gallery-columns-9{grid-template-columns:repeat(9, 1fr)}.gallery-caption{display:block}.icon{display:inline-block;width:1em;height:1em;stroke-width:0;stroke:currentColor;fill:currentColor}button svg,a svg{pointer-events:none}.preload *{transition:none !important}.site{width:100%;display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-items:flex-start;align-items:flex-start;-webkit-justify-content:flex-start;justify-content:flex-start}.site-container{width:75%;padding:5rem 5rem 5rem 0;position:-webkit-sticky;position:sticky;top:var(--siteTop, 0px);max-width:calc(40 * var(--fontSize))}@media screen and (max-width: 25rem){.site-container{position:relative;width:100%;padding:.5rem}}.site-header{top:var(--siteTop, 0px);z-index:99;display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-items:flex-start;align-items:flex-start;font-size:var(--fontSize);line-height:1.4;position:-webkit-sticky;position:sticky;padding:0 calc(0.5 * var(--fontSize)) calc(0.5 * var(--fontSize));padding-right:calc(2 * var(--fontSize));width:100%;background:var(--siteBackground);transition:background-color .5s ease}@media screen and (min-width: 25rem){.site-header{position:fixed;padding:0 0 calc(0.5 * var(--fontSize)) 0;width:auto;left:25%;right:calc(3 * var(--fontSize))}}.main-navigation{display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-items:flex-start;align-items:flex-start;width:100%;font-size:var(--fontSizeLarge)}@media screen and (min-width: 60rem){.main-navigation{font-size:var(--fontSize)}}.main-navigation ul{display:none;list-style:none;margin:0;padding:0;padding-top:calc(0.5 * var(--fontSize));width:100%;-webkit-flex:0 0 auto;flex:0 0 auto;-webkit-flex-flow:row wrap;flex-flow:row wrap}@media screen and (min-width: 60rem){.main-navigation ul{width:auto;padding-left:0}}.main-navigation li{position:relative;padding:0 calc(0.75 * var(--fontSize)) 0 0;-webkit-flex:0 0 auto;flex:0 0 auto;width:100%}@media screen and (min-width: 60rem){.main-navigation li{width:auto}}.main-navigation li:last-of-type{padding-right:0}.main-navigation a{display:inline-block;text-decoration:none}.main-navigation .current_page_item>a,.main-navigation .current-menu-item>a,.main-navigation .current_page_ancestor>a,.main-navigation .current-menu-ancestor>a{text-decoration:underline}.menu-toggle{display:-webkit-flex;display:flex;text-transform:uppercase;line-height:1.4;letter-spacing:.085em;margin:0 calc(1.5 * var(--fontSize)) 0 0;padding:0;padding-top:calc(0.5 * var(--fontSize));border:0;-webkit-align-items:center;align-items:center;text-decoration:none;width:calc(100% - (1.5 * var(--fontSize)));-webkit-flex:0 0 auto;flex:0 0 auto;text-align:left;font-size:var(--fontSizeLarge)}@media screen and (min-width: 25rem){.menu-toggle{font-size:var(--fontSize)}}@media screen and (min-width: 60rem){.menu-toggle{width:auto}}.menu-toggle .icon{margin-right:calc(0.375 * var(--fontSize))}.menu-toggle .icon-menu{display:-webkit-flex;display:flex}.menu-toggle .icon-close{display:none}.main-navigation.toggled .menu-toggle .icon-menu{display:none}.main-navigation.toggled .menu-toggle .icon-close{display:-webkit-flex;display:flex}.main-navigation.toggled ul{display:-webkit-flex;display:flex}.site-header-home-text{display:none;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-justify-content:space-between;justify-content:space-between;-webkit-align-items:flex-start;align-items:flex-start;color:var(--homeColorText);letter-spacing:.02em;font-size:var(--fontSize);padding-top:calc(0.5 * var(--fontSize))}.site-header-home-text p{margin:0;padding:0;width:100%}.site-header-home-text button{font-size:1em;line-height:1.4;text-align:left;letter-spacing:.02em;color:var(--homeColorText);cursor:help;text-decoration:none}.site-header-home-text button:hover{text-decoration:underline}.site-header-more-text{--colorText: var(--white);--colorLink: var(--white);--colorLinkHover: var(--magenta);color:var(--colorText);background:var(--green);padding:calc(3 * var(--fontSize)) var(--fontSize);display:none;position:fixed;top:var(--siteTop, 0px);bottom:0;left:0;right:0;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;z-index:999999}.site-header-more-text div{width:calc(40 * var(--fontSize));max-width:100%}.site-header-more-text-close{position:fixed;line-height:1.4;top:var(--fontSize);right:var(--fontSize)}.home .main-navigation{width:auto}.home .main-navigation.toggled{width:100%}.home .site-header-home-text{display:-webkit-flex;display:flex}@media screen and (min-width: 25rem){.home .site-header-home-text{-webkit-flex:0 0 calc(100% - (16 * var(--fontSize)));flex:0 0 calc(100% - (16 * var(--fontSize)))}}.home .toggled+.site-header-home-text{display:none}.home.more-text-is-active .site-header-more-text{display:-webkit-flex;display:flex}@media screen and (max-width: 25rem){.nav-is-active{position:fixed;top:var(--siteTop, 0px)}.nav-is-active .site-header{height:100vh;height:calc(var(--vh, 1vh) * 100);overflow:auto}}.sticky{display:block}.post,.page{margin:0}.updated:not(.published){display:none}.page-header,.entry-header{padding-top:1.5rem;padding-left:calc(1.375 * var(--fontSize));padding-bottom:3rem}.page-title,.entry-title{text-transform:uppercase;font-size:var(--fontSizeLarge);letter-spacing:.085em;max-width:calc(30 * var(--fontSize))}.page-title span,.entry-title span{text-transform:none;letter-spacing:0}.page-content,.entry-content,.entry-summary{margin:0}.page-links{clear:both;margin:0}.wp-block-image img{display:block}.wp-block-image figcaption{font-size:var(--fontSizeSmall)}.site-reading-room-filters{--fontSizeFilters: var(--fontSizeLarge);position:fixed;width:var(--fontSizeFilters);height:100%;z-index:15;right:1rem;top:0}@media screen and (max-width: 25rem){.site-reading-room-filters{z-index:100;right:.5em}}@media screen and (max-height: 25rem){.site-reading-room-filters{--fontSizeFilters: var(--fontSizeSmall)}}.site-reading-room-filters ul{list-style:none;margin:0;padding:0;display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-justify-content:space-between;justify-content:space-between;width:100vh;width:calc(var(--vh, 1vh) * 100);height:var(--fontSizeFilters);-webkit-transform:rotate(90deg) translate3d(calc(-1 * var(--fontSizeFilters)), 0, 0);transform:rotate(90deg) translate3d(calc(-1 * var(--fontSizeFilters)), 0, 0);-webkit-transform-origin:0% 100%;transform-origin:0% 100%}.site-reading-room-filters ul li{padding:0 1rem}.site-reading-room-filters ul a{display:block;white-space:nowrap;text-transform:uppercase;text-decoration:none;font-size:var(--fontSizeFilters);line-height:1;letter-spacing:.085em;transition:color .3s ease}.site-reading-room-filters ul li.is-active{--colorLink: var(--colorLinkHover)}.site-reading-room-filters ul li.is-active a{opacity:1}@media screen and (max-width: 25rem){.nav-is-active .site-reading-room-filters{display:block;z-index:100;right:.5em}.single .site-reading-room-filters,.page .site-reading-room-filters{display:none}.single.home .site-reading-room-filters,.single.nav-is-active .site-reading-room-filters,.page.home .site-reading-room-filters,.page.nav-is-active .site-reading-room-filters{display:block}}.more-text-is-active .site-reading-room-filters{display:none}.more-text-is-active.home .site-reading-room-filters{display:none}.more-text-is-active.nav-is-active .site-reading-room-filters{display:block}.site-reading-room-index{width:25%;padding:calc(0.5 * var(--fontSize)) calc(1 * var(--fontSize)) calc(0.5 * var(--fontSize)) calc(0.5 * var(--fontSize));position:-webkit-sticky;position:sticky;z-index:1;top:var(--siteTop, 0px)}@media screen and (max-width: 25rem){.site-reading-room-index{position:relative;width:100%;padding:calc(0.5 * var(--fontSize)) calc(2.5 * var(--fontSize)) calc(0.5 * var(--fontSize)) calc(0.5 * var(--fontSize));-webkit-order:1;order:1}}.site-reading-room-index ul{font-size:var(--fontSizeIndex);line-height:1.4;width:calc(16 * var(--fontSizeIndex));max-width:100%;list-style:none;margin:0;padding:0}.site-reading-room-index ul a{text-decoration:none;opacity:1;transition:opacity .3s ease;display:block}.site-reading-room-index li{padding-bottom:calc(0.875 * var(--fontSize))}.site-reading-room-index li:last-of-type{padding-bottom:0}.page .site-reading-room-index ul a,.single-post .site-reading-room-index ul a,.archive.tax-reading_cat .site-reading-room-index ul a{opacity:.3}.page .site-reading-room-index ul a:hover,.page .site-reading-room-index ul a:focus,.single-post .site-reading-room-index ul a:hover,.single-post .site-reading-room-index ul a:focus,.archive.tax-reading_cat .site-reading-room-index ul a:hover,.archive.tax-reading_cat .site-reading-room-index ul a:focus{opacity:1}.page .site-reading-room-index ul li.is-active a,.single-post .site-reading-room-index ul li.is-active a,.archive.tax-reading_cat .site-reading-room-index ul li.is-active a{opacity:1}.page .site-reading-room-index ul li.is-visited,.single-post .site-reading-room-index ul li.is-visited,.archive.tax-reading_cat .site-reading-room-index ul li.is-visited{--colorLink: #7b007f;--colorLinkHover: #f800ff}.page .site-reading-room-index ul li.is-current,.single-post .site-reading-room-index ul li.is-current,.archive.tax-reading_cat .site-reading-room-index ul li.is-current{--colorLink: var(--colorLinkHover);--colorLinkHover: var(--magenta)}.page-template-front .site-reading-room-index ul a{opacity:1}.index-image{position:fixed;top:50%;left:50%;-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0);width:calc(30 * var(--fontSize));height:auto;max-width:60%;max-height:80vh;display:none;z-index:-1;pointer-events:none}.index-image.is-active{display:block}.single-post{--siteBackground: var(--lightGrey)}.data-single{display:none}body{--objectWidth: 10rem;--voidWidth: calc(75vw - (3 * var(--fontSize)));--voidHeight: calc(100vh - (5 * var(--fontSize)))}@media screen and (min-width: 40rem){body{--objectWidth: 20rem}}.three-item-wrapper{z-index:1;position:fixed;bottom:0;right:calc(2.5 * var(--fontSize));width:var(--objectWidth);height:var(--objectWidth)}@media screen and (min-width: 40rem){.three-item-wrapper{position:absolute;bottom:auto;right:auto;-webkit-animation:x 60s linear infinite alternate;animation:x 60s linear infinite alternate}.three-item-wrapper:hover,.three-item-wrapper:focus{-webkit-animation-play-state:paused;animation-play-state:paused}}#three-item{width:var(--objectWidth);height:var(--objectWidth);opacity:0;transition:opacity 200ms ease}#three-item.is-init{opacity:1}@-webkit-keyframes x{100%{-webkit-transform:translateX(calc(var(--voidWidth) - var(--objectWidth))) translateY(calc(var(--voidHeight) - var(--objectWidth)));transform:translateX(calc(var(--voidWidth) - var(--objectWidth))) translateY(calc(var(--voidHeight) - var(--objectWidth)))}}@keyframes x{100%{-webkit-transform:translateX(calc(var(--voidWidth) - var(--objectWidth))) translateY(calc(var(--voidHeight) - var(--objectWidth)));transform:translateX(calc(var(--voidWidth) - var(--objectWidth))) translateY(calc(var(--voidHeight) - var(--objectWidth)))}}@-webkit-keyframes y{100%{-webkit-transform:translateY(calc(100vh - var(--objectWidth)));transform:translateY(calc(100vh - var(--objectWidth)))}}@keyframes y{100%{-webkit-transform:translateY(calc(100vh - var(--objectWidth)));transform:translateY(calc(100vh - var(--objectWidth)))}}.site-footer{width:100%}.scroll-to-top-observer{position:absolute;top:calc(var(--siteTop) + 52vh);height:1px;width:1px}.scroll-to-top-button{background-color:var(--colorTextSecondary);border:none;border-radius:50%;color:var(--siteBackground);cursor:pointer;padding:0;margin:0;font-size:calc(1.125 * var(--fontSize));line-height:1;width:calc(2 * var(--fontSize));height:calc(2 * var(--fontSize));display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;position:fixed;bottom:1rem;left:calc(1 * var(--fontSize));z-index:99;opacity:0;-webkit-transform:translateY(calc(3 * 1rem));transform:translateY(calc(3 * 1rem));transition:opacity .3s ease,-webkit-transform .3s ease;transition:opacity .3s ease,transform .3s ease;transition:opacity .3s ease,transform .3s ease,-webkit-transform .3s ease}@media screen and (min-width: 25rem){.scroll-to-top-button{left:auto;right:calc(3 * var(--fontSize))}}.scroll-to-top-button svg{width:1em;height:.5em;fill:var(--white);-webkit-transform:translate3d(0, -0.1em, 0);transform:translate3d(0, -0.1em, 0)}.scroll-to-top-button--is-visible{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}@media screen and (max-width: 25rem){.more-text-is-active .scroll-to-top-button,.nav-is-active .scroll-to-top-button{display:none}}.wp-block-acf-toggle .toggle-button{padding:.5em 0;border:0;margin:0;background:transparent;display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-justify-content:space-between;justify-content:space-between;-webkit-align-items:center;align-items:center;width:100%;cursor:pointer;border-radius:0;color:var(--colorText);font-size:var(--fontSize, 1rem);overflow:hidden}.wp-block-acf-toggle .toggle-button .toggle-button__label{-webkit-flex:0 1 auto;flex:0 1 auto;max-width:calc(100% - 1rem);text-align:left;border-bottom:1px solid currentColor}.wp-block-acf-toggle .toggle-button .toggle-button__icon{-webkit-flex:0 0 1em;flex:0 0 1em;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;font-size:1em;-webkit-transform:rotate(0deg);transform:rotate(0deg);height:1em;width:1em}.wp-block-acf-toggle .toggle-button:hover,.wp-block-acf-toggle .toggle-button:focus{color:var(--colorLinkHover)}.wp-block-acf-toggle .toggle-content{display:none;padding:0 0 .625rem 0}.wp-block-acf-toggle .toggle-content p:last-child{margin-bottom:0}.wp-block-acf-toggle--is-active .toggle-content{display:block}.wp-block-acf-toggle--is-active .toggle-button .toggle-button__icon{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.wp-block-acf-toggle--is-active .toggle-button:hover .toggle-button__icon{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.block-editor__container .wp-block-acf-toggle .toggle-content{display:block !important}
