/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

  &:focus {
    background-color: var(--siteBackground);
    border-radius: 3px;
    border: 1px solid var(--colorLinkHover);
    //box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: var(--colorLinkHover);
    display: block;
    font-size: var(--fontSize);
    font-weight: 400;
    height: auto;
    left: 0.25rem;
    line-height: normal;
    padding: 1rem 1.3rem;
    text-decoration: none;
    top: calc(var(--siteTop) + 0.25rem);
    width: auto;
    text-transform: uppercase;
    z-index: 100000; // Above WP toolbar.
  }
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}
