body,
button,
input,
select,
optgroup,
textarea {
  color: var(--colorText);
  font-family: var(--fontSans);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  font-variation-settings: "wght" 400;
}

@import "headings";
@import "copy";
