@import "../abstracts/abstracts";
//@import "../base/base";
//@import "../base/typography/typography";
//@import "../base/elements/body";
//@import "../base/elements/hr";
//@import "../base/elements/lists";
//@import "../base/elements/media";
//@import "../base/elements/tables";
//@import "../base/elements/links";
//@import "../base/elements/buttons";
//@import "../base/elements/fields";

/* Fonts */
.editor-styles-wrapper,
.editor-writing-flow .wp-block textarea,
.editor-writing-flow .wp-block .wp-block-freeform,
.editor-rich-text p,
.wp-block-quote__citation,
.wp-block,
.acf-block-preview,
.editor-block-list__block-edit {
  font-family: $font__main;
}
.editor-post-title .editor-post-title__input {
  font-weight: 400;
}
.editor-styles-wrapper {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font__main;
    font-weight: 400;
    line-height: 1.35;
    clear: both;
  }
  .has-small-font-size {
    font-size: 13px;
    font-size: 1rem;
  }
  .has-large-font-size {
    font-size: 24px;
    font-size: 1.846rem;
  }
  .has-larger-font-size {
    font-size: 32px;
    font-size: 2.461rem;
  }
  .has-text-color {
    &.has-silver-color {
      color: silver;
    }
    &.has-grey-color {
      color: grey;
    }
    &.has-jet-black-color {
      color: #000;
    }
    &.has-black-color {
      color: #333;
    }
    &.has-green-color {
      color: #0b9500;
    }
    &.has-blue-color {
      color: #3c4b55;
    }
    &.has-light-blue-color {
      color: #95cae7;
    }
  }
  .has-background {
    &.has-silver-background-color {
      background-color: silver;
    }
    &.has-grey-background-color {
      background-color: grey;
    }
    &.has-jet-black-background-color {
      background-color: #000;
    }
    &.has-black-background-color {
      background-color: #333;
    }
    &.has-green-background-color {
      background-color: #0b9500;
    }
    &.has-blue-background-color {
      background-color: #3c4b55;
    }
    &.has-light-blue-background-color {
      background-color: #95cae7;
    }
  }
}
