.comment-navigation,
.posts-navigation,
.post-navigation {
  .nav-links {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-top: calc(6 * var(--fontSize));
    padding-bottom: calc(2 * var(--fontSize));
    @media screen and (max-width: 25rem) {
      border-bottom: 1px solid var(--colorTextSecondary);
      margin-bottom: calc(3 * var(--fontSize));
    }
  }

  .nav-previous,
  .nav-next {
    flex: 0 0 100%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    a {
      text-decoration: none;
      display: inline-block;
      margin: 0 0 calc(1 * var(--fontSize));
      .nav-title {
        span {
          text-transform: none;
          letter-spacing: 0;
        }
      }
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  --colorLink: var(--colorTextSecondary);
  .nav-subtitle {
    display: none;
  }
}
