:root {
  scroll-padding-top: var(--headerHeight, 38px);
}
body {
  --white: #fff;
  --black: #140106;
  --lightBlack: #282828;
  --grey: #e4e4e4;
  --lightGrey: #f5f5f5;
  --midGrey: #ababab;
  --darkGrey: #505050;
  --blue: #3c4b55;
  --green: #435a34;
  --teal: #0c3845;
  --magenta: #f800ff;

  --colorText: var(--teal);
  --colorTextSecondary: var(--darkGrey);
  --colorLink: var(--teal);
  --colorLinkHover: var(--magenta);
  --colorButtonText: var(--white);
  --colorButtonTextHover: var(--lightGrey);
  --colorButtonBackground: var(--blue);
  --colorButtonBackgroundHover: var(--lightBlack);
  --siteBackground: var(--white);
  --homeColorText: var(--green);

  --colorTextInput: var(--darkGrey);
  --colorBorderInput: var(--midGrey);
  --colorTextInputFocus: var(--lightBlack);

  --siteTop: 0px;
  --headerHeight: 0;

  --fontSize: 1rem; //16px
  --fontSizeH1: calc(3.815 * var(--fontSize));
  --fontSizeH2: calc(2.441 * var(--fontSize));
  --fontSizeH3: calc(1.953 * var(--fontSize));
  --fontSizeH4: calc(1.563 * var(--fontSize));
  --fontSizeH5: calc(1.25 * var(--fontSize));
  --fontSizeIndex: calc(1 * var(--fontSize));
  --fontSizeSmall: calc(0.8 * var(--fontSize));
  --fontSizeLarge: calc(1.375 * var(--fontSize));
  --lineHeight: 1.75;
  --lineHeightHeading: 1.3;
  //--padding: 0.9375rem; //15px
  --padding: 1rem; //16px
  --fontSans: "BrutGrot", "Helvetica", "Helvetica Neue", "Arial", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", sans-serif;
  --fontHeading: "BrutGrot", "Helvetica", "Helvetica Neue", "Arial",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", sans-serif;
  --fontMono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  @media screen and (min-width: 400px) {
    //--fontSize: 1.1875rem; //19px
    //--padding: 1.1875rem; //19px
  }
  @media screen and (min-width: 1400px) {
    --fontSize: 1.375rem; //22px
    --fontSizeIndex: calc(0.8 * var(--fontSize));
    --lineHeight: 1.375;
  }
}

body.admin-bar {
  --siteTop: 0px;
  @media screen and (min-width: 600px) {
    --siteTop: 46px;
  }
  @media screen and (min-width: 783px) {
    --siteTop: 32px;
  }
}

html {
  font-size: var(--fontSize);
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--siteBackground);
  transition: background-color 0.5s ease;
}
