/* @import must be at top of file, otherwise CSS will not work */
//@import url("//hello.myfonts.net/count/3d8a40");

@font-face {
  font-family: "BrutGrot";
  src: url("assets/fonts/BrutGrotesqueTEST-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "BrutGrot";
  src: url("assets/fonts/BrutGrotesqueTEST-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BrutGrot";
  src: url("assets/fonts/BrutGrotesqueTEST-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
