.wp-block-acf-toggle {
  //padding: 0.5em 1em;
  //background: var(--lightGrey, #eee);
  .toggle-button {
    padding: 0.5em 0;
    border: 0;
    margin: 0;
    background: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border-radius: 0;
    color: var(--colorText);
    font-size: var(--fontSize, 1rem);
    overflow: hidden;
    .toggle-button__label {
      flex: 0 1 auto;
      max-width: calc(100% - 1rem);
      text-align: left;
      border-bottom: 1px solid currentColor;
    }
    .toggle-button__icon {
      flex: 0 0 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      transform: rotate(0deg);
      height: 1em;
      width: 1em;
    }
    &:hover,
    &:focus {
      color: var(--colorLinkHover);
    }
  }
  .toggle-content {
    display: none;
    padding: 0 0 0.625rem 0;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
.wp-block-acf-toggle--is-active {
  .toggle-content {
    display: block;
  }
  .toggle-button {
    .toggle-button__icon {
      transform: rotate(180deg);
    }
    &:hover {
      .toggle-button__icon {
        transform: rotate(180deg);
      }
    }
  }
}

.block-editor__container {
  .wp-block-acf-toggle {
    .toggle-content {
      display: block !important;
    }
  }
}
